In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Makes data frames of corresponding week data.
# The data ends with the last day of the file name.

df1 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/june82019.txt')
df2 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/june12019.txt')
df3 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may252019.txt')
df4 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may182019.txt')
df5 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may112019.txt')
df6 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may42019.txt')

In [3]:
# Creating Datetime column from date and time columns

df1['DATETIME'] = df1['DATE'] + ' ' + df1['TIME']
df2['DATETIME'] = df2['DATE'] + ' ' + df2['TIME']
df3['DATETIME'] = df3['DATE'] + ' ' + df3['TIME']
df4['DATETIME'] = df4['DATE'] + ' ' + df4['TIME']
df5['DATETIME'] = df5['DATE'] + ' ' + df5['TIME']
df6['DATETIME'] = df6['DATE'] + ' ' + df6['TIME']

### Converting dataframe's 'DATETIME' columns datatypes from objects to datetime one  
### at a time because jupyter notebook took too long to run them all in one cell

In [4]:
df1['DATETIME'] = pd.to_datetime(df1['DATETIME'])

In [5]:
df2['DATETIME'] = pd.to_datetime(df2['DATETIME'])

In [6]:
df3['DATETIME'] = pd.to_datetime(df3['DATETIME'])

In [7]:
df4['DATETIME'] = pd.to_datetime(df4['DATETIME'])

In [8]:
df5['DATETIME'] = pd.to_datetime(df5['DATETIME'])

In [9]:
df6['DATETIME'] = pd.to_datetime(df6['DATETIME'])

In [10]:
# Getting rid of unnecessary columns

df1 = df1[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df2 = df2[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df3 = df3[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df4 = df4[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df5 = df5[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df6 = df6[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]

In [11]:
# Creating new column for day of the week using pandas datetime function

df1['DAY_OF_WEEK'] = df1['DATETIME'].dt.day_name()
df2['DAY_OF_WEEK'] = df2['DATETIME'].dt.day_name()
df3['DAY_OF_WEEK'] = df3['DATETIME'].dt.day_name()
df4['DAY_OF_WEEK'] = df4['DATETIME'].dt.day_name()
df5['DAY_OF_WEEK'] = df5['DATETIME'].dt.day_name()
df6['DAY_OF_WEEK'] = df6['DATETIME'].dt.day_name()

In [12]:
# Cleaning data.  Getting rid of outliers, capping top because MOSHOLU PWY station: 451208340 Net
# AVENUE H: 1391496 Net

df1 = df1.loc[df1['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df2 = df2.loc[df2['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df3 = df3.loc[df3['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df4 = df4.loc[df4['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df5 = df5.loc[df5['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df6 = df6.loc[df6['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]

In [13]:
# Getting values of entries on each day for each turnstile, Unit, C/A, and Station
# By getting max value of entries each day

df1_sorted = df1.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df2_sorted = df2.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df3_sorted = df3.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df4_sorted = df4.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df5_sorted = df5.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df6_sorted = df6.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df3_sorted.head()

,C/A,UNIT,SCP,STATION,DATE,DAY_OF_WEEK,ENTRIES,DATETIME
0,A002,R051,02-06-00,59 ST,05/18/2019,Saturday,196351,2019-05-18 20:00:00
1,A002,R051,02-06-00,59 ST,05/19/2019,Sunday,196909,2019-05-19 20:00:00
2,A002,R051,02-06-00,59 ST,05/20/2019,Monday,198320,2019-05-20 20:00:00
3,A002,R051,02-06-00,59 ST,05/21/2019,Tuesday,199779,2019-05-21 20:00:00
4,A002,R051,02-06-00,59 ST,05/22/2019,Wednesday,201317,2019-05-22 20:00:00

In [14]:
# Summing entries for each turnstiles at every station.  Sorting by day and station.

df1_stations = df1_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df2_stations = df2_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df3_stations = df3_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df4_stations = df4_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df5_stations = df5_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df6_stations = df6_sorted.groupby(['STATION', 'DAY_OF_WEEK'], as_index=False).sum()
df3_stations.head()

  STATION DAY_OF_WEEK  ENTRIES
0    1 AV      Friday  1137051
1    1 AV      Monday  1114661
2    1 AV    Saturday  1106629
3    1 AV      Sunday  1110159
4    1 AV    Thursday  1131314

In [15]:
# Getting rid of unnecessary weekday rows to calculate net entries each week

df1_sat_fri = df1_stations.loc[(df1_stations['DAY_OF_WEEK'] == 'Friday') | (df1_stations['DAY_OF_WEEK'] == 'Saturday')]
df2_sat_fri = df2_stations.loc[(df2_stations['DAY_OF_WEEK'] == 'Friday') | (df2_stations['DAY_OF_WEEK'] == 'Saturday')]
df3_sat_fri = df3_stations.loc[(df3_stations['DAY_OF_WEEK'] == 'Friday') | (df3_stations['DAY_OF_WEEK'] == 'Saturday')]
df4_sat_fri = df4_stations.loc[(df4_stations['DAY_OF_WEEK'] == 'Friday') | (df4_stations['DAY_OF_WEEK'] == 'Saturday')]
df5_sat_fri = df5_stations.loc[(df5_stations['DAY_OF_WEEK'] == 'Friday') | (df5_stations['DAY_OF_WEEK'] == 'Saturday')]
df6_sat_fri = df6_stations.loc[(df6_stations['DAY_OF_WEEK'] == 'Friday') | (df6_stations['DAY_OF_WEEK'] == 'Saturday')]
df3_sat_fri.head()

   STATION DAY_OF_WEEK  ENTRIES
0     1 AV      Friday  1137051
2     1 AV    Saturday  1106629
7   103 ST      Friday   615307
9   103 ST    Saturday   606365
14  104 ST      Friday   933866

In [76]:
# finding stations with missing data 
# df1_sat_fri['STATION'].value_counts()

In [52]:
# Removing data for certain stations that have missing data for week of June 2-8th

df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'CANARSIE-ROCKAW']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'FRANKLIN AV']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'NEWARK HM HE']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'NEWARK C']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'PATH WTC 2']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'RIT-ROOSEVELT']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != '5 AVE']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'NEWARK HW BMEBE']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'HARRISON']
df1_sat_fri = df1_sat_fri[df1_sat_fri.STATION != 'NEWARK BM BW']

In [53]:
# Removing data for certain stations that have missing data for week of May 19-24th

df3_sat_fri = df3_sat_fri[df3_sat_fri.STATION != 'FRANKLIN AV']
df3_sat_fri = df3_sat_fri[df3_sat_fri.STATION != 'ORCHARD BEACH']
df3_sat_fri = df3_sat_fri[df3_sat_fri.STATION != 'FOREST AVE']
df3_sat_fri = df3_sat_fri[df3_sat_fri.STATION != 'CANARSIE-ROCKAW']

In [54]:
df4_sat_fri = df4_sat_fri[df4_sat_fri.STATION != 'FRANKLIN AV']

In [55]:
# Removing data for certain stations that have missing data for week of May 5th-11th

df5_sat_fri = df5_sat_fri[df5_sat_fri.STATION != 'E 149 ST']
df5_sat_fri = df5_sat_fri[df5_sat_fri.STATION != '42 ST-BRYANT PK']

In [56]:
# Removing data for certain stations that have missing data for week ending on May 4th

df6_sat_fri = df6_sat_fri[df6_sat_fri.STATION != 'EASTN PKWY-MUSM']
df6_sat_fri = df6_sat_fri[df6_sat_fri.STATION != '61 ST WOODSIDE']

In [57]:
# Sorting data frames between stations Friday values and Saturday values

df1_fri = df1_sat_fri.loc[(df1_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df1_fri.reset_index(drop=True, inplace=True)
df1_sat = df1_sat_fri.loc[(df1_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df1_sat.reset_index(drop=True, inplace=True)

In [58]:
df2_fri = df2_sat_fri.loc[(df2_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df2_fri.reset_index(drop=True, inplace=True)
df2_sat = df2_sat_fri.loc[(df2_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df2_sat.reset_index(drop=True, inplace=True)

In [59]:
df3_fri = df3_sat_fri.loc[(df3_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df3_fri.reset_index(drop=True, inplace=True)
df3_sat = df3_sat_fri.loc[(df3_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df3_sat.reset_index(drop=True, inplace=True)

In [60]:
df4_fri = df4_sat_fri.loc[(df4_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df4_fri.reset_index(drop=True, inplace=True)
df4_sat = df4_sat_fri.loc[(df4_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df4_sat.reset_index(drop=True, inplace=True)

In [61]:
df5_fri = df5_sat_fri.loc[(df5_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df5_fri.reset_index(drop=True, inplace=True)
df5_sat = df5_sat_fri.loc[(df5_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df5_sat.reset_index(drop=True, inplace=True)

In [62]:
df6_fri = df6_sat_fri.loc[(df6_sat_fri['DAY_OF_WEEK'] == 'Friday')]
df6_fri.reset_index(drop=True, inplace=True)
df6_sat = df6_sat_fri.loc[(df6_sat_fri['DAY_OF_WEEK'] == 'Saturday')]
df6_sat.reset_index(drop=True, inplace=True)

In [63]:
# Making column 'NET' of each week for total entries non-cumulative by subtracting the weeks
# starting entries each week and substracting from the ending entries

df1_fri['NET'] = df1_fri['ENTRIES'] - df1_sat['ENTRIES']
df2_fri['NET'] = df2_fri['ENTRIES'] - df2_sat['ENTRIES']
df3_fri['NET'] = df3_fri['ENTRIES'] - df3_sat['ENTRIES']
df4_fri['NET'] = df4_fri['ENTRIES'] - df4_sat['ENTRIES']
df5_fri['NET'] = df5_fri['ENTRIES'] - df5_sat['ENTRIES']
df6_fri['NET'] = df6_fri['ENTRIES'] - df6_sat['ENTRIES']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [64]:
# Making sorted data frame for each week of data and sorting by highest net entries.

df1_sorted = df1_fri.sort_values(by=['NET'], ascending = False)
df2_sorted = df2_fri.sort_values(by=['NET'], ascending = False)
df3_sorted = df3_fri.sort_values(by=['NET'], ascending = False)
df4_sorted = df4_fri.sort_values(by=['NET'], ascending = False)
df5_sorted = df5_fri.sort_values(by=['NET'], ascending = False)
df6_sorted = df6_fri.sort_values(by=['NET'], ascending = False)

In [65]:
# Making final data frame with just each station and net entries per week

df1_final = df1_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])
df2_final = df2_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])
df3_final = df3_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])
df4_final = df4_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])
df5_final = df5_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])
df6_final = df6_sorted.drop(columns=['DAY_OF_WEEK','ENTRIES'])

In [66]:
# Top 25 stations for each week

df1_top25 = df1_final.head(25)
df2_top25 = df2_final.head(25)
df3_top25 = df3_final.head(25)
df4_top25 = df4_final.head(25)
df5_top25 = df5_final.head(25)
df6_top25 = df6_final.head(25)

In [74]:
# Data frame of all top 25 stations over 6 weeks

DF = pd.concat([df1_top25, df2_top25, df3_top25, df4_top25, df5_top25, df6_top25], ignore_index=True)

In [88]:
# Average of top stations

DF_stations_mean = DF.groupby(['STATION'], as_index=False).mean()
DF_Final = DF_stations_mean.sort_values(by=['NET'], ascending = False)
DF_Final_25 = DF_Final.head(25)

In [87]:
# Writing data frame to csv

DF_Final_25.to_csv('/Users/luken2/Documents/GitHub/project01/project1/data/top_25.csv',index=False)