In [1]:
import pandas as pd
import numpy as np

In [2]:
stndata = pd.read_csv('stations.csv')

In [4]:
stndata.sample()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
180,http://web.mta.info/nyct/service/,181,Beach 44th St,POINT (-73.77601299999507 40.59294299908617),A,A-all times